<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title – приложение ASP.NET</title>


    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!-- Plugin Css-->
    <link rel="stylesheet" href="~/Scripts/plugins/magnific-popup/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Scripts/plugins/jquery-datatables-editable/dataTables.bootstrap4.min.css" />

    <!-- App css -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/Registration/Index" class="logo">
                    <span><img src="~/images/logo.png" alt="" height="25"></span>
                    <i><img src="~/images/logo_sm.png" alt="" height="28"></i>
                </a>
            </div>
            <nav class="navbar-custom">              

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" placeholder="Поиск..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title"></li>
                        <li>
                            <a href="#"><i class="fi-help"></i> <span>Приемное отделение</span><span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded=false>
                                <li><a href="/registration/newpatient">Регистрация</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <div class="content-page">

            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div> <!-- container -->

            </div> <!-- content -->
            <footer class="footer text-right"></footer>
        </div>
       
    </div>
    <!-- jQuery  -->

    <script src="~/Scripts/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <!-- Examples -->
    <script src="~/Scripts/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/plugins/tiny-editable/mindmup-editabletable.js"></script>
    @*<script src="~/Scripts/plugins/tiny-editable/numeric-input-example.js"></script>*@
    <!-- App js -->
    <script src="~/Scripts/jquery.core.js"></script>
    <script src="~/Scripts/jquery.app.js"></script>
    <script src="~/Scripts/pages/jquery.datatables.init.js"></script>
    
    <script>


                        //$(document).ready(function () {
                        //    var conn = new WebSocket('ws://localhost:8080');
                        //    conn.onopen = function (e) {
                        //        alert("Connection established!");
                        //    };

                        //    conn.onmessage = function (e) {
                        //        alert(e.data);
                        //    };
                        //    //  $("#sens-humidity_tab").on('shown.bs.tab', function (e) {});
                        //    ///$("#sens-message_tab").on('shown.bs.tab', function (e) {});

                        //    $("#anestLocation").on("click", function () {
                        //        $.ajax({
                        //            type: "GET",
                        //            url: '<?php echo Url::toRoute(['site/devision']) ?>',
                        //success: function (data) {

                        //                $("#contentbody").html(data);
                        //            }
                        //        });
                        //    });
                        //    $("#consLocation").on("click", function () {
                        //        $.ajax({
                        //            type: "GET",
                        //            url: '<?php echo Url::toRoute(['site/devision2']) ?>',
                        //success: function (data) {

                        //                $("#contentbody").html(data);
                        //            }
                        //        });
                        //    });
                        //    $("#skladLocation1").on("click", function () {
                        //        $.ajax({
                        //            type: "GET",
                        //            url: '<?php echo Url::toRoute(['site/devision3']) ?>',
                        //success: function (data) {

                        //                $("#contentbody").html(data);
                        //            }
                        //        });
                        //    });

                        //    $("#skladLocation2").on("click", function () {
                        //        $.ajax({
                        //            type: "GET",
                        //            url: '<?php echo Url::toRoute(['site/devision4']) ?>',
                        //success: function (data) {

                        //                $("#contentbody").html(data);
                        //            }
                        //        });
                        //    });

                        //    $("#mc010102").on("click", function () {
                        //        $.ajax({
                        //            type: "GET",
                        //            url: '<?php echo Url::toRoute(['site/sensor']) ?>',
                        //success: function (data) {

                        //                $("#contentbody").html(data);
                        //            }
                        //        });

                        //    });

                        //});
    </script>

</body>
</html>
