<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />    
  </configSections>
    <dataConfiguration defaultDatabase="cisdb">  
    </dataConfiguration>
    
  <connectionStrings>
    <add name="cisdb" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=cisdb;Integrated Security=True" providerName="System.Data.SqlClient"/>   
      
  </connectionStrings>  
</configuration>